$logoColor: #00d8ff;
.navbar {
  overflow: hidden;
  .logo {
    float: left;
    padding: 0.88rem 1rem;
    &:hover {
      background-color: darken($logoColor, 25%);
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .pages-item {
    float: right;
    text-align: center;
    padding: 1.31rem 1rem;
    text-decoration: none;
    &:hover {
      background-color: darken($logoColor, 25%);
    }
  }
}
