$mainBackground: #242424;
$darkestGrey: #040404;
$textColor: #ffffff;

.App {
  font-family: Arial, Helvetica, sans-serif;
  color: $textColor;
  display: grid;
  background-color: $mainBackground;
  header {
    background-color: $darkestGrey;
  }
  main {
    min-height: calc(100vh - 9.6rem);
  }
  footer {
    width: 100%;
    background-color: $darkestGrey;
  }
}
